* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-image: linear-gradient(to right,#010725,#010a4f,#000a54,#00094d); */
  background-color: #00094d;
  color: white;
}

.statecity{
  display: flex;
  padding-top: 20px;
  flex-direction: row ;
  justify-content: space-evenly;

}

label {
  font-weight: bold;
  font-size: 20px;
}

select {
  border-radius: 10px;
  border-color: rgb(129, 31, 114);
  border-width: 4px;
  font-size: 20px;

}

.imgbanner{
  height: 700px;
  width:750px;
  margin-left: 25%;
}

.centerr{
  text-align: center;
  font-family: cursive;
  font-size: 28px;
  margin-top: 40px;
}


#linkk{
  color: red;
  cursor: pointer;
}

.rightimg{
  float: right;
  height: 400px;
  width: 500px;
  cursor: pointer;  
}

.lefttxt{
  float: left;
  height: 300px;
  width: 800px;
  margin-top: 100px;
  text-align: center;
  margin-left: 10px;
  font-size: 28px;

}

.leftimg{
  float: left;
  height: 400px;
  width: 500px;
  cursor: pointer;
}

.righttxt{
  float: right;
  height: 300px;
  width: 800px;
  margin-top: 100px;
  text-align: center;
  margin-left: 10px;
  font-size: 28px;
}

.padbot{
  display: flex;
  justify-content: space-around;
  margin-bottom: -100px;
  padding-bottom: 30px;
}

.aligning{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}