.login-form{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.centerform{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: wheat;
    padding: 80px;
}

.centerform label{
    font-size: 26px;
    color: #00094d;
    background-color: wheat;
}

.centerform input{
    border-radius: 5px;
    height: 40px;
    text-align: center;
}

.centerform button{
   margin-top: 30px;
}

.centerform p{
    color: red;
    background-color: wheat;
    font-weight: bolder;
}

.centerform h4{
    color: #00094d;
    margin-top: 10px;
    text-align: center;
    background-color: wheat;
}

.centerform h4 span{
    color: red;
    cursor: pointer;
    background-color: wheat;
}